/*UNIVERSAL SELECTOR*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY PART*/
body{
    text-align: center;
    font-size: xx-large;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

/*HEADER PART*/
.first_header{ 
    color: #080808dc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* TEXT- DECORATION */
a{
    text-decoration: none;
    display: block;
    
}
a:visited{
    color: black;
}
/*FIRST PART*/
li:nth-of-type(1){
    color: rgb(0, 0, 0);
    margin: 0rem 0rem 2rem 2rem;
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

/*SECOND PART*/
li:nth-of-type(2){
    min-width: 10rem;
    max-width: 30rem;
    color: black;
    list-style-type:none;
    text-align: center;
    text-align: inherit;
    background-color: rgba(240, 54, 54, 0.89);
    margin: 0rem 0rem 0rem 32rem;
    border-radius: 15rem 15rem 0 0;
    min-height: 5rem;
}

/*SECOND PART ACTIVE, HOVER & VISITED */
li:nth-of-type(2):active{
    background-color: rgb(12, 12, 12);
    color: aliceblue;
}

li:nth-of-type(2) a:hover{
    background-color:rgba(243, 40, 108, 0.952);
    color: rgb(236, 5, 5);
}

li:nth-of-type(2) a:visited{
    color: chartreuse;

}

/*SECOND PART*/
li:nth-of-type(3){
    min-width: 10rem;
    max-width: 30rem;
    color: black;
    list-style-type: none;
    text-align: center;
    background-color: rgba(38, 170, 38, 0.575);
    margin: 0rem 0rem 0rem 32rem;
    font-size: xx-large;
    min-height: 5rem;
}

/*SECOND ACTIVE, HOVER & VISITED */
li:nth-of-type(3):active{
    background-color: red;
}

li:nth-of-type(3) a:hover{
    background-color: yellow;
}

li:nth-of-type(3) a:visited{
    color: antiquewhite;
}

/*THIRD PART*/
li:nth-of-type(4){
    min-width: 10rem;
    max-width: 30rem;
    list-style-type: none;
    text-align: center;
    background-color: rgba(45, 45, 245, 0.822);
    margin: 0rem 0rem 0rem 32rem;
    min-height: 5rem;
}

/* THIRD PART ACTIVE, HOVER & VISITED */
li:nth-of-type(4) a:active{
    color: cyan;
}

li:nth-of-type(4) a:hover{
    background-color: rgba(128, 255, 0, 0.952);
}

li:nth-of-type(4) a:visited{
    color: rgba(127, 255, 212, 0.959);
}

/*FOURTH PART*/
li:nth-of-type(5){
    min-width: 10rem;
    max-width: 30rem;
    list-style-type: none;
    text-align: center;
    background-color: rgba(116, 33, 33, 0.747);
    margin: 0rem 0rem 0rem 32rem;
    font-size: xx-large;
    border-radius: 0% 0% 90rem 90rem;
    cursor:e-resize;
    min-height: 5rem;
}

/* FOURTH PART ACTIVE, HOVER & VISITED */
li:nth-of-type(5) a:active{
    background-color: rgba(240, 255, 255, 0.938);
}

li:nth-of-type(5) a:hover{
    background-color: rgba(179, 243, 4, 0.959);
}

li:nth-of-type(5) a:visited{
    color: rgba(219, 56, 50, 0.938);
}

/*FOOTER PART*/
.last_part{
    font-size: x-large;
    margin: 3rem 0rem 0rem 0rem;
    font-style: italic;
    color: rgba(0, 0, 0,);
    text-align: center;
    font-weight: 900;
    min-height: 5rem;
}
